body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
}

.input-box {
    margin: 20px;
}

#certificate-container {
    position: relative;
    width: 1000px;
    margin: auto;
}

.bg {
    width: 100%;
}

/* Name position – adjust slightly if needed */
#nameField {
    position: absolute;
    top: 290px;      /* adjust based on template */
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    color: black;
}
